{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Change Password - Operation And Maintenance System{% endblock %}

{% block header_title %}Change Password{% endblock %}


{% block main_content%}
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="col-sm-6 form-horizontal" method="POST">
                        {{ form.hidden_tag() }}
                        {{ wtf.form_field(form.password) }}
                        {{ wtf.form_field(form.confirm_password) }}
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}